<!-- <div class="carousel swipe" #carousel (touchstart)="start($event)" (touchmove)="swipe($event)"> -->
<div class="carousel swipe" #carousel >
  <div class="carousel-header">
    <div class="slide" [ngClass]="{'active':idx==0}" *ngFor="let i of items; let idx = index;">
        <h2>{{i.Name}}</h2>
        <!-- <p>{{i.Description}}</p> -->
        <div class="btn btn-lt btn-lt-success" routerLink="/product/{{i.Id}}"><span>Подробнее</span></div>
    </div>
    <div class="controls">
      <div class="prev" (click)="prev()">
        <svg viewBox="0 0 25 40" width="20">
          <polyline points="20,2 5,20 20,38"  stroke-linejoin="round" stroke-width="5" fill="none"/>
        </svg>
      </div>
      <div class="next" (click)="next()">
        <svg viewBox="0 0 25 40" width="20">
          <polyline points="2,2 17,20 2,38"  stroke-linejoin="round" stroke-width="5" fill="none"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="carousel-body">
    <div class="slide" [ngClass]="{'active':idx==0}" *ngFor="let i of items; let idx = index;">
      <img src="{{i.Photo}}" alt="">
    </div>
  </div>
</div>
