
<div class="container p-0">
  <h3 class="header">Фотогалерея</h3>
  <div class="flex-container">
    <div class="item" *ngFor="let i of photoes">
      <div style="position: relative;" (click)="close()">
        <img src="{{i.Photo}}" alt="{{i.Name}}">
        <div class="eye"><i class="far fa-eye"></i></div>
      </div>
      
      <h3 class="mt-2">{{i.Name}}</h3>
      
    </div>
  </div>
  
</div>


<photo-viewer *ngIf="show" (onClose)="close($event)" [items]="getPhotoes()"></photo-viewer>
