
<div class="container p-0">
    <h3 class="header d-flex align-items-center">Фотогалерея <div class="btn btn-new btn-dark" *ngIf="us.user" (click)="ms.open('photo', photoes)">Добавить</div></h3>
    <bricks *ngIf="photoes.length" [items]="photoes" [size]="4" [template]="photo"></bricks>
  
</div>

<div [ngClass]="{'d-none':!show}">
  <photo-viewer (onClose)="close()" [current]="current" [items]="getPhotoes()"></photo-viewer>
</div>


<ng-template #photo let-item>
  <div class="gallery-item" >
    
    <div style="position: relative;" (click)="close(item.Id)">
      <img style="width: 100%;" src="{{item.Photo}}" alt="{{item.Name}}">
      <div class="eye">
        <i class="far fa-eye"></i>
        <a class="mt-2" href="#">{{item.Name}}</a> 
      </div>
      
    </div>
    
    <div class="btn btn-new btn-dark" *ngIf="us.user" (click)="ms.open('upd-photo', i)">Изменить</div>
  </div>
</ng-template>
