

button{
    border-radius: 0;
    display: flex;
    justify-content: center;align-items: center;
    font-size: 18px;
}



.item{
    display: flex;
    align-items: flex-start;
    min-height: 50px;
    width: 100%;
    padding: 10px;
    padding-left: 0;
    margin: 10px 0;
    img{
        width: 40%;

    }
    div{
        width: 60%;
    }
}


@media (max-width:768px){
    h3{
        font-size: 20px;
    }
}