
<div class="user" *ngIf="us.user">
    
    <p class="p-0">Выполнен вход администратора</p>
    <div class="btn btn-link" (click)="us.exit()">Выйти</div>
</div>
<div class="container px-2" *ngIf="router.url!='/sign-in'">
    <div class="d-flex justify-content-between align-items-sm-end">
        <div class="d-flex align-items-end">
            <div>
                <h1 routerLink="catalog">Satoga</h1>
                <h2>Винтовочные ложи высокого класса</h2>
            </div>
            <div class="d-none d-lg-block" style="margin-left: 6vw; margin-bottom: -3px;">
                <app-menu></app-menu>    
            </div>
        </div>
        
        
        <div class="d-flex flex-column align-items-end">
            <a  class="d-none d-lg-block" style="z-index:1000; margin-bottom: 5px;" href="tel:+79162278742">+7 (916) 227-87-42</a>
            <div class="search" [ngClass]="{'active':showSearch}" tabindex="0" (blur)="close()">
                <fieldset class="d-flex">
                    <input type="text" class="form-control" #str >
                    <button class="btn" (click)="search(str.value)"><i class="fas fa-search" aria-hidden="true" ></i></button>
                    <div class="btn" (click)="show()"><i class="fas fa-search" aria-hidden="true" ></i></div>
                </fieldset>
            </div>
        </div>
        
    </div>
    
    <div class="menu">
        <app-menu></app-menu>
        <a style="z-index:1000; margin-bottom: 5px;" href="tel:+79162278742">+7 (916) 227-87-42</a>
    </div>
    
    
</div>
<div class="py-5 px-2 px-sm-0">
    <router-outlet></router-outlet>
</div>

<app-footer *ngIf="router.url!='/contacts'"></app-footer>
<app-modal></app-modal>
<app-load></app-load>





