@import "../colors.less";
.user{
    position: fixed;
    top:-25px;
    width: 100%;
    height: 30px;
    padding:5px 10px;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(185, 24, 24);
    color: white;
    z-index: 1000;
    p{
        margin: 0;
    }
    .btn{
        color: #fff;
    }
    &:hover{
        top:0;
    }
}
.light{
    background: linear-gradient(to top, #ffffff00, rgba(255, 255, 255, 0.829));
    // h1,h2{
    //     color: rgb(255, 255, 255);
    //     text-shadow: 0 0 5px rgba(0, 0, 0, 0.678);
    // }
}
.container{
    padding-top: 10px;
   
    padding-bottom: 10px;
    &>.d-flex{
        position: relative;
    }
    h1,h2{
        font-family: Tahoma, Arial, sans-serif;
        text-transform: uppercase;
        
    }
    h1{
        margin-bottom: 0;
        font-weight: 550;
        letter-spacing: 5px;
        font-size: 35px;
        cursor: pointer;
    }
    h2{
        margin-top: 0;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 0;
    }
    fieldset{
        position: absolute;
        right: 0;
        input{
            max-width: 300px;
            padding-right: 40px;
            border: none;
        }
        button, div.btn{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            padding: 0;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        div.btn{
            display: none;
        }
        
    }

    .search{
        position: relative;
        width: 40px;
        height: 40px;
        &.active, &:focus-within{
            
                input{
                    border: 1px solid lightgray !important;
                    background-color: #fff;
                    width: 230px !important;
                    padding-right: 40px !important;
                    padding-left: 10px !important;
                    transform-origin: left;
                    color: black;
                }
                div.btn{
                    display: none !important;
                }
                button.btn{
                    display: block !important;
                }
            }
        input{
            transition: 0.3s;
            width: 40px !important;
            padding: 0 !important;
            color: #fff;
            
        }
    }
    

    a{
        color: black;
        text-decoration: none;
        font-weight: 600;
    }
    .menu{
        
        display: none;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        
    }
    
}

.head{
    position: fixed;
    z-index: 100;
    box-shadow: 0 0 20px rgb(75, 75, 75);
    height: 62px;
    top: -75px;
    left: 0;
    width: 100%;
    animation: down 1s forwards;
}

.show-menu{
    top:0;
}

.bkg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.bkg-img{
    opacity: 1;
    animation: show 30s infinite ease-in-out;
}

.bkg-img:nth-child(1){
    z-index: 2;
    background-image: url('../assets/images/main/1.jpg')
}
.bkg-img:nth-child(2){
    z-index: 1;
    animation-delay: 8s;
    background-image: url('../assets/images/main/2.jpg')
}
.bkg-img:nth-child(3){
    animation-delay: 18s;
    background-image: url('../assets/images/main/3.jpg')
}

@media (min-width: 1200px){
    .container{
        max-width: 1800px !important;
    }
}

@media (max-width:992px){
    h1{
        z-index: 1000;
        margin-top: -38px !important;
        position: relative;
    }
    h2{
        z-index: 1000;
        position: relative;
    }
    .search{
        z-index: 1000;
        margin-top: -38px !important;
        position: absolute;
        right: 0 !important;
        top:0;
        &.active, &:focus-within{
            
                input{
                    width: 230px !important;
                    padding-right: 40px !important;
                    padding-left: 10px !important;
                    color: black;
                }
                div.btn{
                    display: none !important;
                }
                button.btn{
                    display: block !important;
                }
            }
        input{
            transition: 0.3s;
            width: 40px !important;
            padding: 0 !important;
            color: #fff;
            
        }
        
    }
}

@media (max-width:992px){
    .container{
        max-width: 750px;
    }

    .menu{
        display: flex !important;
    }

}

@media (max-width: 1200px){
    .container{
        padding-left: .5rem !important;
    }
}



@keyframes show{
    0%{
        opacity: 1;
    }
    33%{
        opacity: 0;
    }
    66%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes down{
    0%{
        top: -75px;
    }
    100%{
        top: 0;
    }
}