@import "../colors.less";
.container{
    padding: 60px 0;
    padding-bottom: 0;
    h2{
        margin-top: 0;
        margin-bottom: 40px;
    }
    .menu{
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        a{
            color: black;
            text-decoration: none;
            font-weight: 600;
        }
    }
    
}

@media (max-width:768px){
    h2{
        margin-bottom: 20 !important;
        z-index: 1000;
        margin-top: -38px !important;
        position: relative;
    }
}
