
<div class="container p-0">
  <h3 class="header">Статьи</h3>
  <div class="flex-container">
    <div class="item" *ngFor="let i of articles">
      <img src="{{i.Photo}}" alt="{{i.Name}}">
      <h3>{{i.Name}}</h3>
      <span><i class="fas fa-user"></i> {{i.Author}}</span>
      <a href="{{i.Path}}" target="blank" class="eye" ><i class="far fa-eye"></i></a>
    </div>
    <div *ngIf="us.user" (click)="ms.open('article')" class="item plus" style="min-height: 300px">
      <i class="fas fa-plus"></i>
    </div>
  </div>
  
</div>
