<div class="container px-2">
  <h3 class="d-flex align-items-center">Товары <div class="btn btn-new btn-dark" *ngIf="us.user" (click)="ms.open('product', items)">Добавить</div></h3>
  <div *ngIf="items.length>0" class="sort">
    <div>
      <span (click)="changeSort()">Сортировать по цене<i class="fas {{getSort()}}"></i></span>
    </div>
  </div>
  <div class="flex-container">
    <div class="item" *ngFor="let i of items">
      <img src="{{i.Photo}}" alt="{{i.Name}}">
      <h3 routerLink="/product/{{i.Id}}">{{i.Name}}</h3>
      <span class="px-1 text-white" [ngClass]="{'bg-success':!!i.InStock, 'bg-danger':!i.InStock}">{{!!i.InStock?'В наличии':'На заказ'}}</span>
      <p>{{i.Description}}</p>
      <div class="price">
        <b>{{i.Price}} руб.</b> 
      </div>
      <div class="btns" *ngIf="!us.user">
          <div class="btn btn-lt" (click)="ms.open('form', i)"><span>Отправить заявку</span></div>
      </div>
      <div class="btn btn-new btn-dark" style="opacity: 1; position: relative; top:0; margin-top: 10px; " *ngIf="us.user" (click)="ms.open('upd-product', i)">Изменить</div>
      
    </div>
  </div>
</div>
