@import "../../colors.less";
    .item{
        margin:15px;
        display: flex;
        padding: 16px;
        flex-direction: column;
        min-width: 250px;
        justify-content: flex-end;
        align-items: flex-start;
        width: calc(25% - 30px); 
        border-radius: 10px;
        img{
            width: 100%;
            
        }
        
        h3{
            font-weight: 300;
            font-size: 20px;
            position: relative;
            margin-bottom: 10px;
            cursor: pointer;
            &~span{
                margin-bottom: 20px;
            }
            // &:after{
            //     content: '';
            //     display: block;
            //     position: absolute;
            //     transition: 0.3s;
            //     bottom: -5px;
            //     height: 1px;
            //     width: 40px;
            //     background-color: @gray;
            // }
            // &:hover:after{
            //     width:100%;
            // }
        }
        i.fa-plus{
            font-size: 50px;
        }

        &.plus{
            border: 1px solid lightgray;
            margin-bottom: 10px;
            justify-content: center !important; 
            align-items: center !important;
            &:hover{
                background-color: @trans-dark;
                i{
                    color: #fff;
                }
            }
        }
        .price{
            margin-bottom: 0px;
        }


        &:hover{
            background-color: @hover-gray;
        }
    }

.sort{
    display: flex;
    justify-content: flex-end;
    color: #fff;
    margin-right: 15px;
    font-size: 24px;
    
    i{
        margin-left: 5px;
    }

    &>div{
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
}

.header{
    font-size: 60px;
    color: #fff;
    margin-left: 15px;
}