<div class="container px-2">
  <h3>Товары</h3>
  <div *ngIf="items.length>0" class="sort">
    <div>
      <span (click)="changeSort()">Сортировать по цене<i class="fas {{getSort()}}"></i></span>
    </div>
  </div>
  <div class="flex-container">
    <div class="item" *ngFor="let i of items">
      <img src="{{i.Photo}}" alt="{{i.Name}}">
      <h3 routerLink="/product/{{i.Id}}">{{i.Name}}</h3>
      <span class="px-1 text-white" [ngClass]="{'bg-success':!!i.InStock, 'bg-danger':!i.InStock}">{{!!i.InStock?'В наличии':'На заказ'}}</span>
      <p>{{i.Description}}</p>
      <div class="price">
        <b>{{i.Price}} руб.</b> 
      </div>
      <div class="btns">
          <div class="btn btn-lt" (click)="ms.open('form', i)"><span>Отправить заявку</span></div>
      </div>
      
    </div>
    <div class="item plus" *ngIf="us.user" (click)="ms.open('product', items)" style="min-height: 300px">
      <i class="fas fa-plus"></i>
    </div>
  </div>
</div>
