<div *ngIf="product" class="container p-0">
  <img src="{{product.Photoes[current].Photo}}" alt="">
  <div class="photoes">
    <div class="item" [ngClass]="{'active':idx==current}"  *ngFor="let i of product.Photoes; let idx = index" (click)="show(idx)">
        <img src="{{i.Photo}}" >
        <div class="eye" ></div>
    </div>
    
  </div>
  <h3 class="header mb-0">{{product.Name}}</h3>
  <p class="mb-0">{{product.Description}}</p>
  <span class="px-1 text-white" [ngClass]="{'bg-success':!!product.InStock, 'bg-danger':!product.InStock}">{{!!product.InStock?'В наличии':'На заказ'}}</span>
  <p class="mt-3">{{product.FullDescription}}</p>
  <div class="price">
    <b>{{product.Price}} руб.</b> 
  </div>
  <div class="btns">
      <div class="btn btn-dark" (click)="ms.open('form', product)">Отправить заявку</div>
  </div>
</div>