<ng-template class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>

  <div class="p-3">
      <i class="fas fa-times" (click)="ms.close()"></i>
    <app-form *ngIf="ms.type=='form'" [item]="ms.inpt"></app-form>
    <add-section *ngIf="ms.type=='section'" [items]="ms.inpt"></add-section>
    <add-product *ngIf="ms.type=='product'" [items]="ms.inpt"></add-product>
    <add-article *ngIf="ms.type=='article'" [items]="ms.inpt"></add-article>
    <add-video *ngIf="ms.type=='video'" [items]="ms.inpt"></add-video>
    <add-photo *ngIf="ms.type=='photo'" [items]="ms.inpt"></add-photo>
    <add-section *ngIf="ms.type=='upd-section'" [item]="ms.inpt"></add-section>
    <add-product *ngIf="ms.type=='upd-product'" [item]="ms.inpt"></add-product>
    <add-article *ngIf="ms.type=='upd-article'" [item]="ms.inpt"></add-article>
    <add-video *ngIf="ms.type=='upd-video'" [item]="ms.inpt"></add-video>
    <add-photo *ngIf="ms.type=='upd-photo'" [item]="ms.inpt"></add-photo>
  </div>
  
  

</ng-template>
