@gray: rgb(139, 139, 139);
@hover-gray: #ebebeb;
@dark-gray: rgb(90, 90, 90);
@dark: #565c63;
@darker: #343a40;
@light-gray: rgb(245, 245, 245);
@green: rgb(30, 175, 30);
@trans-green: rgba(9, 139, 74, 0.349);
@trans-dark: rgba(0, 0, 0, 0.342);

@trans-darker: rgba(0, 0, 0, 0.877);