/* You can add global styles to this file, and also import other style files */
@import "./colors.less";
html{
    overflow-x: hidden;
    min-width: 300px;
}


*{
    box-sizing: border-box;
    &:focus{
        outline: none;
    }
}

.btns{
    margin: 30px 0;
    .btn:first-child{
        margin-right: 15px;
    }
}

.btn{
    border-radius: 0;

}

.btn-success{
    background-color: @green;
}

.btn-scss-lt{
    background-color: transparent;
    border: 1px solid @green;
    color: black;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    &>*{
        position: relative;
        z-index: 10;
        transition: 0.3s;
    }
    &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: @green;
        transition: 0.3s;
    }

    &:hover{
        &::before{
            width: 100%;
        }
        &>*{
            color: white;
        }
    }
}
.btn-secondary{
    background-color: @light-gray;
    border-color: @light-gray;
    color: @dark-gray;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header{
    margin-bottom: 35px;
}



@media (max-width:600px){
    .flex-container{
        .item{
            width: 100% !important;
        }
    }
}