<div class="sections" style="margin-top: 100px;"  *ngIf="items.length>0 || us.user">
  <!-- <h2 class="d-flex justify-content-center">Разделы</h2> -->
  <div>
    <div class="btn btn-new btn-dark" *ngIf="us.user" (click)="ms.open('section', items)">Добавить</div>
  </div>
    <div class="row flex-container">
      
      <div class="item" *ngFor="let i of items">
        <div>
            <h3>{{i.Name}}</h3>
            <p>{{i.Description}}</p>
        </div>
        
        <img src="{{i.Photo}}" alt="">
        <div>
          <p class="m-0">от {{i.MinPrice}} руб.</p>
          <div class="btn btn-dark" routerLink="/section/{{i.Id}}">Просмотреть раздел</div>
        </div>
        
      </div>
    </div>
</div>
