<div class="sections">
  <h2 class="d-flex justify-content-center" style="font-size: 40px; font-weight: 800; margin: 30px 0; padding-top: 50px;">Наша продукция</h2>
  <div class="row">
      <div class="col-md-6 flex-container">
          <div class="item">
            <h3>Дешевые приклады</h3>
            <p>Высококачественный орех. Супер амортизатор.</p>
            <img src="../../assets/images/lozha.png" alt="">
            <span>от 18 000 руб.</span>
            <div class="btn btn-dark">Просмотреть раздел</div>
          </div>
          <div class="item">
            <h3>Стандартные ложи</h3>
            <p>Высококачественный орех. Супер амортизатор.</p>
            <img src="../../assets/images/lozha.png" alt="">
            <span>от 18 000 руб.</span>
            <div class="btn btn-dark">Просмотреть раздел</div>
          </div>
        </div>
        <div class="col-md-6 flex-container">
          <div class="item">
            <h3>Дорогие ложи</h3>
            <p>Высококачественный орех. Супер амортизатор.</p>
            <img src="../../assets/images/lozha.png" alt="">
            <span>от 18 000 руб.</span>
            <div class="btn btn-dark">Просмотреть раздел</div>
          </div>
          <div class="item">
            <h3>Элитные ложи</h3>
            <p>Высококачественный орех. Супер амортизатор.</p>
            <img src="../../assets/images/lozha.png" alt="">
            <span>от 18 000 руб.</span>
            <div class="btn btn-dark">Просмотреть раздел</div>
          </div>
        </div>
  </div>
  
</div>
