<div class="container px-2">
    <div class="head">
        <div class="label">
            <p>Винтовочные ложи в наличии и на заказ</p>
            <div class="btn btn-lt btn-lt-success" (click)="ms.open('form')"><span>Оставить заявку</span></div>
        </div>
        <div class="carousel">
            <stg-carousel></stg-carousel>
        </div>
    </div>
    
    
</div>
<!-- <sections></sections> -->


<div class="catalog" *ngIf="items.length>0  || us.user">
    <catalog [items]="items"></catalog>
</div>
