@import "../../colors.less";
.head{
    position: relative;
    .label{
        position: absolute;
        left: 50px;
        top:5px;
        z-index: 30;
    }
}

.catalog{
    padding: 60px 0;
}



@media (max-width:992px){
    .btn{
        margin-bottom: 10px;
    }
    .label{
        left: 0 !important;
    }
    .container{
        max-width: 750px;
        
    }
}


@media (max-width:768px){
    .label{
        display: none;
    }
}

@media (min-width: 1200px){
    .container{
        max-width: 1800px !important;
    }
}