<div class="container p-0">
    <div class="head">
        <div class="head-left">
            <div style="flex: 1">
                <p>Изготавливаю приклады и ложи высокого качества</p>
                <div class="d-flex">
                    <span class="outlist-item">Орех</span>
                    <span class="outlist-item">Бук</span>
                </div>
                <p>Изготовление как готовой продукции,<br> так и изделий под заказ</p>
            </div>
            
            <div class="btns mb-0">
                <div class="btn btn-success" (click)="ms.open('form')">Отправить заявку</div>
                <div class="btn btn-secondary" (click)="showCatalog()">Ознакомиться с каталогом</div>
                
            </div>
        </div>
        <div class="head-right">
            <img src="../assets/images/lozha.png">
        </div>
    </div>
    
    
</div>
<div style="margin-top: 100px;">
    <sections></sections>
</div>


<div class="container p-0">
    <div class="catalog">
        <catalog></catalog>
    </div>
</div>
