@import "../../colors.less";
.head{
    position: relative;
    min-height: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2, h3{
        
        position: relative;
        top: -300px;
        font-family: Tahoma, Arial, sans-serif;
        text-transform: uppercase;
        opacity: 0;
        text-shadow: 0 0 1px rgb(0, 0, 0);
        
    }
    h2{
        animation: move-down 1s .3s forwards;
        margin-top: 130px;
        
        font-size: 130px;
        
        font-weight: bold;
        
        color: rgb(255, 255, 255);
    }
    h3{
        color: #fff;
        animation: move-down 1s .6s forwards;
        font-size: 30px;
    }
    
    svg{

        position: absolute;
        animation: move .8s infinite;
        font-size: 50px;
        polyline{
            stroke: #fff;
        }
    }

    .birds{
        top:100px;
        z-index: 30;
        position: absolute;
        left: -20vw;
        animation: fly 3s .5s forwards ease-in-out;
        width: 10vw;

        img{
            width: 100%;
        }
    }
}

.label{
    position: absolute;
    top:5px;
    z-index: 30;
    //border: 1px solid @green;

    p{
        font-size: 17px;
        padding: 0 3px;
        position: relative;
        // text-transform: uppercase;
        background-color: rgb(69, 175, 69);
        line-height: 25px;
        left: -500px;
        color: #fff;
        animation: slide 0.7s forwards;
    }

    .btn{
        animation: slide 1s forwards;
        position: relative;
        background-color: @trans-green;
    }
}

.catalog{
    padding: 100px 0;
    
    .show-catalog{
        font-size: 24px;
        // color: #fff;
        padding: 0 10px;
        margin-left: 5px;
        margin-top: 20px;
        display: flex;
        animation: attention 3s infinite ease-in-out;
        cursor: pointer;
        svg{
            margin-left: 10px;
            width: 24px;
            margin-bottom: -5px;
        }

        &:hover{
            text-decoration: underline;
        }
    }
}



@media (max-width:992px){
    .btn{
        margin-bottom: 10px;
    }
    
    .container{
        max-width: 750px;
        
    }
}


@media (max-width:768px){
    .label{
        display: none;
    }
}

@media (max-width:576px){
    .catalog{
        margin: 0 -0.5rem;
    }
}

@media (min-width: 1200px){
    .container{
        
        max-width: 1800px !important;
    }
}

@media (max-width: 1200px){
    .label{
        left: 0 !important;
    }
}


@keyframes slide{
    from{
        left: -300px;
    }
    to{
        left: 0;
    }
}

@keyframes move{
    0%{
        bottom: 10vh;
    }
    50%{
        bottom: 11vh;
    }
    100%{
        bottom: 10vh;
    }
}

@keyframes move-down{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@keyframes fly{
    0%{
        width: 10vw;
        left: -20vw;
    }
    50%{
        width: 20vw;
    }
    99%{
        width: 10vw;
        left: 100vw;
    }
    100%{
        display: none;
    }
}

@keyframes attention{
    0%{
        margin-left: 0;
    }
    80%{
        margin-left: 0;
    }
    85%{
        margin-left: 20px;
    }
    90%{
        margin-left: 0;
    }
    95%{
        margin-left: 20px;
    }
    100%{
        margin-left: 0px;
    }
}